.idea/

ant/
bin/
build/
classes/
dev/
etc/
lib/
out/
output/
test/
resources/
data/csep/
data/siteData/
data/mattg_test/*
!data/mattg_test/external_fault_model.txt

.DS_Store
.metadata/
EclipseNotes.txt
geonet_combined.03.11.14.txt
toDoList.txt
readme.txt
runSTEP.sh
*.project
*.iml






